@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  height: 100vh;
  width: 310px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
}
nav ul li a,
nav > header {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 10px;
}
nav header {
  font-size: 30px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
nav ul li a:hover {
  cursor: pointer;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 79, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  border-radius: 10px;
}
.active {
  cursor: pointer;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(123, 117, 235) 0%,
    rgb(9, 76, 121) 24%,
    rgb(18, 191, 142) 100%
  );
  color: #fff;
  border-radius: 10px;
}
.tab {
  margin-left: 35px;
}
main {
  margin-left: 310px;
  padding: 20px;
}
p {
  text-align: justify;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.txt-title{
  text-align: center;
  background-color: aquamarine;
  border-radius: 5px;
  color: #212121;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.main-section {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin: 10px auto;
  height: auto;
}
a.yt-subscribe{
  text-decoration: none;
  color: white;
  background-color: #ab0808;
  padding: 10px;
  transition: 0.2s;
}
a.yt-subscribe:hover{
  background-color: #d55c5c;
  color: aliceblue;
  border-radius: 3px;
  padding-right: 20px;
}
@media only screen and (max-width: 600px) {
  body {
    background: rgb(32, 20, 224);
    background: linear-gradient(
      90deg,
      rgba(32, 20, 224, 1) 0%,
      rgba(222, 152, 231, 1) 22%,
      rgba(0, 255, 136, 1) 87%
    );
  } 
}
